<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
    <stepAssemblies>
      <stepAssembly assembly="SS.Pricing.AutomationTesting" />
    </stepAssemblies>
  </specFlow>
  <appSettings>
    
<!--INT-->
    <add key="RootUrl" value="http://connectappint.sportingsolutions.com/" />
    <add key="TestUsername" value="tests@regression" />
    <add key="TestPassword" value="Sporting1" />
    <add key="ConnectUsername" value="sysadmin" />
    <add key="ConnectPassword" value="Zf9QvHRSpC" />
    
    <!--UAT-->
<!--    <add key="RootUrl" value="http://connectappuat.sportingsolutions.com/" />-->
<!--    <add key="TestUsername" value="tests@regression" />-->
<!--    <add key="TestPassword" value="Sporting1" />-->
<!--    <add key="ConnectUsername" value="sysadmin" />-->
<!--    <add key="ConnectPassword" value="Zf9QvHRSpC" />-->

<!-- CUI -->
<!--            <add key="RootUrl" value="http://connectappcui.sportingsolutions.com/" />-->
<!--            <add key="TestUsername" value="tests@regression" />-->
<!--            <add key="TestPassword" value="Sporting1" />-->
<!--            <add key="ConnectUsername" value="gtpdirect" />-->
<!--            <add key="ConnectPassword" value="u(zJwjo" />-->
    
  </appSettings>
</configuration>