<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImpromptuInterface" version="5.6.7" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Office.Interop" version="12.0.4518.1014" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.7.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.0.4" targetFramework="net45" />
  <package id="RestSharp" version="104.1" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.Assist.Dynamic" version="1.0.2" targetFramework="net45" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net45" />
  <package id="Spin.TradingServices.GTP.Domain.Store" version="2.0.355.0" targetFramework="net45" />
  <package id="SS.Architecture.Audit.Domain" version="2.0.35.0" targetFramework="net45" />
  <package id="SS.Architecture.Compression" version="2.1.83.0" targetFramework="net45" />
  <package id="SS.Architecture.Cryptography" version="2.1.83.0" targetFramework="net45" />
  <package id="SS.Architecture.ExcelManager" version="2.1.83.0" targetFramework="net45" />
  <package id="SS.Architecture.Extensions" version="2.1.73.0" targetFramework="net45" />
  <package id="SS.Architecture.IoC" version="2.0.251.0" targetFramework="net45" />
  <package id="SS.Architecture.JsonExtensions" version="2.1.83.0" targetFramework="net45" />
  <package id="SS.Architecture.Logging" version="2.1.83.0" targetFramework="net45" />
  <package id="SS.Architecture.Logging.Contract" version="2.0.251.0" targetFramework="net45" />
  <package id="SS.Architecture.Messaging" version="2.0.251.0" targetFramework="net45" />
  <package id="SS.Architecture.Messaging.Configuration" version="2.1.83.0" targetFramework="net45" />
  <package id="SS.Architecture.Messaging.RabbitMQ" version="2.1.83.0" targetFramework="net45" />
  <package id="SS.Architecture.NoSql" version="2.1.83.0" targetFramework="net45" />
  <package id="SS.Architecture.Rest.Contract" version="2.0.251.0" targetFramework="net45" />
  <package id="SS.Architecture.ServiceExtensions" version="2.0.251.0" targetFramework="net45" />
  <package id="SS.DAL.Domain" version="3.0.0.40" targetFramework="net45" />
  <package id="SS.GTP.Domain" version="2.0.382.0" targetFramework="net45" />
  <package id="SS.GTP.DomainShared" version="2.0.355.0" targetFramework="net45" />
  <package id="SS.Modelling.NFL" version="2.0.53.0" targetFramework="net45" />
  <package id="SS.Modelling.NFL.GTP" version="2.0.53.0" targetFramework="net45" />
  <package id="SS.Pricing.SDK" version="3.0.39.0" targetFramework="net45" />
</packages>